.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.927246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.918457;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.833496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.682129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-1819.762434px;}
._c{margin-left:-1787.366434px;}
._7{margin-left:-1754.866434px;}
._2{margin-left:-1729.918434px;}
._a{margin-left:-1708.042434px;}
._4{margin-left:-1697.418434px;}
._0{margin-left:-1650.594434px;}
._3{margin-left:-1618.094434px;}
._8{margin-left:-1591.375193px;}
._b{margin-left:-1558.979193px;}
._1{margin-left:-1517.531193px;}
._6{margin-left:-8.360000px;}
._5{width:31.496549px;}
.fc1{color:rgb(217,217,217);}
.fc3{color:rgb(255,0,0);}
.fc2{color:rgb(74,69,42);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:88.000000px;}
.fs2{font-size:128.000000px;}
.fs5{font-size:144.000000px;}
.fs7{font-size:152.000000px;}
.fs1{font-size:160.000000px;}
.fs6{font-size:176.000000px;}
.fs4{font-size:192.000000px;}
.fs3{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:44.490528px;}
.ya{bottom:52.295879px;}
.y1{bottom:70.890526px;}
.yd{bottom:73.523331px;}
.y14{bottom:77.847794px;}
.y8{bottom:150.888622px;}
.y10{bottom:247.052994px;}
.y6{bottom:249.066113px;}
.y7{bottom:249.481396px;}
.yf{bottom:290.496681px;}
.ye{bottom:333.452991px;}
.y18{bottom:352.069504px;}
.y9{bottom:352.801693px;}
.yc{bottom:357.184280px;}
.y5{bottom:375.311501px;}
.y13{bottom:377.461174px;}
.y1b{bottom:382.056259px;}
.y17{bottom:394.714630px;}
.y12{bottom:420.904861px;}
.y4{bottom:423.311508px;}
.y1a{bottom:427.656265px;}
.yb{bottom:429.184273px;}
.y1d{bottom:437.670940px;}
.y16{bottom:437.914635px;}
.y11{bottom:463.861172px;}
.y3{bottom:471.311508px;}
.y19{bottom:473.256268px;}
.y1c{bottom:480.870941px;}
.y15{bottom:480.870945px;}
.h1{height:64.066406px;}
.h4{height:85.312500px;}
.ha{height:100.617188px;}
.h7{height:103.640625px;}
.h8{height:104.906250px;}
.hc{height:109.398438px;}
.hb{height:110.734375px;}
.h3{height:115.156250px;}
.h2{height:116.562500px;}
.h9{height:128.218750px;}
.h6{height:139.781250px;}
.h5{height:174.726562px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x26{left:34.999939px;}
.x12{left:76.999939px;}
.x3{left:89.750000px;}
.x15{left:103.500000px;}
.xd{left:105.664520px;}
.x1f{left:109.664520px;}
.x23{left:121.999939px;}
.xb{left:125.780762px;}
.xf{left:129.664520px;}
.x1d{left:136.664520px;}
.x18{left:146.192352px;}
.x6{left:175.442352px;}
.x14{left:185.983200px;}
.x11{left:187.692352px;}
.x25{left:193.742889px;}
.x16{left:242.812500px;}
.x24{left:253.999939px;}
.xc{left:260.795410px;}
.x1e{left:262.664520px;}
.x10{left:265.875000px;}
.x4{left:271.000000px;}
.x13{left:284.999939px;}
.x5{left:291.062500px;}
.xe{left:293.664520px;}
.x17{left:315.687500px;}
.xa{left:438.485321px;}
.x1c{left:445.360321px;}
.x8{left:450.235321px;}
.x1a{left:453.485321px;}
.x7{left:456.046783px;}
.x9{left:460.198151px;}
.x19{left:462.921783px;}
.x21{left:465.235321px;}
.x1b{left:467.073151px;}
.x20{left:471.046783px;}
.x22{left:475.198151px;}
.x1{left:610.263655px;}
.x2{left:634.138655px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-2426.349911pt;}
._c{margin-left:-2383.155245pt;}
._7{margin-left:-2339.821911pt;}
._2{margin-left:-2306.557911pt;}
._a{margin-left:-2277.389911pt;}
._4{margin-left:-2263.224578pt;}
._0{margin-left:-2200.792578pt;}
._3{margin-left:-2157.459245pt;}
._8{margin-left:-2121.833591pt;}
._b{margin-left:-2078.638924pt;}
._1{margin-left:-2023.374924pt;}
._6{margin-left:-11.146667pt;}
._5{width:41.995399pt;}
.fs0{font-size:117.333333pt;}
.fs2{font-size:170.666667pt;}
.fs5{font-size:192.000000pt;}
.fs7{font-size:202.666667pt;}
.fs1{font-size:213.333333pt;}
.fs6{font-size:234.666667pt;}
.fs4{font-size:256.000000pt;}
.fs3{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:59.320704pt;}
.ya{bottom:69.727839pt;}
.y1{bottom:94.520701pt;}
.yd{bottom:98.031108pt;}
.y14{bottom:103.797058pt;}
.y8{bottom:201.184830pt;}
.y10{bottom:329.403992pt;}
.y6{bottom:332.088150pt;}
.y7{bottom:332.641861pt;}
.yf{bottom:387.328908pt;}
.ye{bottom:444.603989pt;}
.y18{bottom:469.426005pt;}
.y9{bottom:470.402257pt;}
.yc{bottom:476.245707pt;}
.y5{bottom:500.415334pt;}
.y13{bottom:503.281565pt;}
.y1b{bottom:509.408346pt;}
.y17{bottom:526.286174pt;}
.y12{bottom:561.206482pt;}
.y4{bottom:564.415344pt;}
.y1a{bottom:570.208354pt;}
.yb{bottom:572.245697pt;}
.y1d{bottom:583.561254pt;}
.y16{bottom:583.886180pt;}
.y11{bottom:618.481562pt;}
.y3{bottom:628.415344pt;}
.y19{bottom:631.008357pt;}
.y1c{bottom:641.161255pt;}
.y15{bottom:641.161260pt;}
.h1{height:85.421875pt;}
.h4{height:113.750000pt;}
.ha{height:134.156250pt;}
.h7{height:138.187500pt;}
.h8{height:139.875000pt;}
.hc{height:145.864583pt;}
.hb{height:147.645833pt;}
.h3{height:153.541667pt;}
.h2{height:155.416667pt;}
.h9{height:170.958333pt;}
.h6{height:186.375000pt;}
.h5{height:232.968750pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x26{left:46.666585pt;}
.x12{left:102.666585pt;}
.x3{left:119.666667pt;}
.x15{left:138.000000pt;}
.xd{left:140.886027pt;}
.x1f{left:146.219360pt;}
.x23{left:162.666585pt;}
.xb{left:167.707682pt;}
.xf{left:172.886027pt;}
.x1d{left:182.219360pt;}
.x18{left:194.923136pt;}
.x6{left:233.923136pt;}
.x14{left:247.977600pt;}
.x11{left:250.256470pt;}
.x25{left:258.323853pt;}
.x16{left:323.750000pt;}
.x24{left:338.666585pt;}
.xc{left:347.727214pt;}
.x1e{left:350.219360pt;}
.x10{left:354.500000pt;}
.x4{left:361.333333pt;}
.x13{left:379.999919pt;}
.x5{left:388.083333pt;}
.xe{left:391.552694pt;}
.x17{left:420.916667pt;}
.xa{left:584.647095pt;}
.x1c{left:593.813761pt;}
.x8{left:600.313761pt;}
.x1a{left:604.647095pt;}
.x7{left:608.062378pt;}
.x9{left:613.597534pt;}
.x19{left:617.229045pt;}
.x21{left:620.313761pt;}
.x1b{left:622.764201pt;}
.x20{left:628.062378pt;}
.x22{left:633.597534pt;}
.x1{left:813.684873pt;}
.x2{left:845.518206pt;}
}
